@import url("reset.css");

@import url("swiper.min.css");

// COLORS
$blue: #0152fc;
$blue--light: #ccdcfe;
$beige: #ccb286;
$beige--light: #f7f1e0;
$grey--dark: #313236;
$grey--medium: #666;
$grey--light: #cccfd9;
$white: #fff;
$shadow: 0px 12px 16.2px 1.8px rgba(0, 0, 0, 0.15);
$block-background__header--initial: inset 0px 0px 0px 0px $blue--light;
$block-background__header--ready: inset 0px -25px 0px 0px $blue--light;
$block-background__menu: inset 0px -25px 0px 0px $grey--light;
$block-background__quote: inset 0px -11px 0px 0px $grey--light;
$block-background__link: inset 0px -6px 0px 0px $blue--light;

//TYPOGRAPHY
$montserrat: Montserrat, sans-serif;
$domine: Domine, serif;
$normal: 1.2rem;
$big: 2rem;
$huge: 5.2rem;

//LAYOUT
$margin--mobile: 2.6rem;
$width--mobile: 26.6rem;

//GENERAL RULES
html {
    font-size: 62.5%;
}

body {
    background: url(../imgs/background-pattern.png);
}

a {
    text-decoration: none;
}

.section-header {
    width: 100%;
    text-align: center;

    &__text {
        font-family: $domine;
        font-weight: 700;
        font-size: $huge;
        color: $grey--dark;
        text-shadow: 4px 4px 15px rgba(150, 150, 150, 0.5);
    }

    &__line {
        height: 2px;
        background: $grey--light;
        position: relative;
        bottom: 2.3rem;
        z-index: -1;
    }
}

//ANIMATIONS
@keyframes block-background {
    from {
        box-shadow: $block-background__header--initial;
    }

    to {
        box-shadow: $block-background__header--ready;
    }
}

//NAVIGATION
.navigation {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 5.2rem;
    z-index: 10;
    background: $white;
    box-shadow: $shadow;
    transition: all 0.4s ease-out;

    &--full-screen {
        height: 100vh;
        background: $beige--light;
    }

    &__current-section {
        display: inline-block;
        padding: 2rem 0 0 $margin--mobile;
        font-family: $montserrat;
        font-weight: 500;
        font-size: $normal;
        transition: opacity 0.5s;

        &--hidden {
            opacity: 0;
        }
    }

    &__hamburger {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 1.1rem $margin--mobile 0 0;
        width: 3rem;
        height: 3rem;

        &:hover .navigation__bar--middle {
            width: 2.3rem;
        }

        &:hover .navigation__bar--bottom {
            width: 2.3rem;
        }
    }

    &__strap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    &__bar {
        position: relative;
        height: 0.2rem;
        background: $grey--dark;
        transition: all 0.2s;

        &--middle {
            width: 1.9rem;
        }

        &--top {
            width: 2.3rem;
            bottom: 0.2rem;
        }

        &--bottom {
            width: 1.4rem;
            bottom: -0.2rem;
        }

        &--hidden {
            opacity: 0;
        }

        &--longer {
            width: 2.3rem;
        }

        &--rotate-left {
            transform: rotate(-45deg);
            bottom: 0.2rem;
        }

        &--rotate-right {
            transform: rotate(45deg);
            bottom: -0.2rem;
        }
    }

    &__list {
        position: absolute;
        top: 10rem;
        height: 0;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;
        overflow: hidden;

        &--active {
            height: initial;
            opacity: 1;
        }
    }

    &__list-item {
        margin-bottom: 3rem;
        font-family: $domine;
        font-size: $huge;
        font-weight: 700;
        color: $grey--medium;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: $block-background__menu;
        }
    }
}

//ABOUT

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 6.5rem;

    &__header {
        padding: 0 $margin--mobile;
        width: $width--mobile;
        font-family: $montserrat;
        font-size: $huge;
        font-weight: 500;
        color: $blue;
    }

    &__name {
        position: relative;
        top: 0.5rem;
        font-family: $domine;
        font-size: $big;
        font-weight: 700;
        color: $grey--medium;
    }

    &__training {
        float: right;
        font-family: $domine;
        font-size: $big;
        font-weight: 700;
        color: $grey--medium;
        margin-top: 0.7rem;
    }

    &__position {
        box-shadow: $block-background__header--ready;
        animation: block-background 1s;
    }

    &__photo {
        margin-top: 4.5rem;
        box-shadow: $shadow;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: none;
        }
    }

    &__frame {
        position: relative;
        bottom: 17rem;
        left: 0.5rem;
        z-index: -1;
        width: 22rem;
        height: 17.3rem;
        border: 2px solid $blue;
    }

    &__paragraph {
        width: $width--mobile;
        font-family: $montserrat;
        font-size: $normal;
        color: $beige;
        line-height: 1.667;

        &--first {
            margin-top: 3rem;
        }

        &--second {
            text-align: right;
            margin-top: 3rem;
        }
    }

    &__quote {
        margin-top: 3rem;
        width: $width--mobile;
        text-align: center;
    }

    &__quote-item {
        font-family: $domine;
        font-size: $big;
        color: $grey--medium;
        box-shadow: $block-background__quote;
    }
}

.section-header--about {
    margin-top: -9rem;
}

//SKILLS
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;

    &__paragraph {
        margin-top: 3rem;
        width: $width--mobile;
        font-family: $montserrat;
        font-size: $normal;
        line-height: 1.667;
        color: $grey--medium;
    }

    &__link {
        font-weight: 500;
        color: $blue;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: $block-background__link;
        }
    }

    &__image {
        position: relative;
        margin-top: 1rem;
        width: 19.3rem;
        height: 14rem;
        background: url("../imgs/skills-blue.png");

        &::after {
            content: "";
            display: block;
            position: relative;
            left: -3.9rem;
            top: 13.8rem;
            width: $width--mobile;
            height: 16.8rem;
            border: 2px solid $blue;
            box-shadow: $shadow;
        }
    }

    &__dots {
        position: absolute;
        left: 4.5rem !important;
    }
}

.skill-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: $width--mobile;
    height: 16.8rem;
    background: $white;
    border-top: 2px solid $blue;
    border-bottom: 2px solid $blue;
    text-align: center;

    &__items {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        height: 100%;
        width: 35%;
        background: $blue--light;
        text-align: left;
        font-family: $domine;
        font-size: $normal;
        font-weight: 700;
        line-height: 1.667;
        color: $blue;
    }

    &__main-skill {
        font-size: $big;
    }

    &__description {
        display: inline-block;
        margin: 0 auto;
        width: 50%;
        font-family: $montserrat;
        font-size: $normal;
        color: $grey--medium;
        text-align: left;
    }
}

.swiper-container {
    margin-top: -0.2rem;
    width: $width--mobile;
}

//PROJECTS
.section-header--projects {
    margin-top: 4rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        margin-top: 3rem;
        width: 19.3rem;
        height: 16.5rem;
        background: url("../imgs/projects-beige.png");
    }

    &__button {
        position: relative;
        top: -0.2rem;
        width: $width--mobile;
        height: 15.1rem;
        box-sizing: border-box;
        padding: 3rem 6rem 0 3rem;
        background: $beige--light;
        border: 2px solid $beige;
        box-shadow: $shadow;
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: none;
        }

        &::after {
            content: url("../imgs/arrow-beige.png");
            position: relative;
            bottom: 6rem;
            right: -17rem;
        }
    }

    &__name {
        font-family: $domine;
        font-weight: 700;
        font-size: $big;
        color: $beige;
    }

    &__description {
        font-family: $montserrat;
        font-size: $normal;
        color: $grey--medium;
        margin-top: 1rem;
    }
}
